<center>
<h1 class="smcap"><%= @actor.name %></h1>

<div class="box">
  <h2>Movies</h2>
  
    <% @actor.movies.each do |role| %>
    <h3 class="list">
      <%= link_to "#{role.title} (#{role.year})", movie_path(role) %>
      <%= button_to "X", remove_movie_path(@actor, role), :method => :delete, :class=>" leftmar btn btn-danger btn-large" %>
    </h3>
    <% end %>
  
  <% unless @movies.empty? %>
    <%= form_tag add_movie_path do |f|%>
      <%= collection_select :movie, :id, @movies, :id, :title %>
      <%= submit_tag "Add", :class=>" leftmar btn btn-success btn-large" %>
    <% end %>
  <% end %>
</div>
<div class="tpmar">
<%= link_to "Edit", edit_actor_path(@actor), :class=>" leftmar btn btn-warning btn-large" %>
<%= button_to "Delete", actor_path(@actor), :method => :delete, :class=>" leftmar btn btn-danger btn-large" %>
<br><br>

<%= link_to "Back to actors", actors_path, :class=>" leftmar btn btn-primary btn-large" %>
</center>
</div>