<center>
<h1 class="smcap"><%= @movie.title %></h1>

<h3 class="list"><%= @movie.year %></h3>

<div class="box">
  <h2>Actors</h2>
  
    <% @movie.actors.each do |actor| %>
    <h3 class="list">
      <%= link_to actor.name, actor %>
      <%= button_to "X", remove_actor_path(@movie, actor), :method => :delete, :class=>" leftmar btn btn-danger btn-large" %>
    </h3>
    <% end %>
  
  <% unless @actors.empty? %>
    <%= form_tag add_actor_path(@movie) do %>
      <%= collection_select :actor, :id, @actors, :id, :name %>
      <%= submit_tag "Add", :class=>" leftmar btn btn-success btn-large" %>
    <% end %>
  <% end %>
</div>
<div class="tpmar">
<%= link_to "Edit", edit_movie_path(@movie), :class=>" leftmar btn btn-warning btn-large" %>
<%= button_to "Delete", movie_path(@movie), :method => :delete, :class=>" leftmar btn btn-danger btn-large" %>
<br><br>

<%= link_to "Back to movies", movies_path, :class=>" botmarsm btn btn-primary btn-large" %>

<!--  FOR COMMENTS -->
<div class="pad combox">
<h3> Comments: </h3>
<center>
<table class="right pad table table-bordered table-hover">
<thead>
  <tr class="info">
    <th>comment</th>
    <th>updated</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @comments.each do |comment| %>
  <tr>
  <h4>
    <td><%= comment.content %></td>
    <td><%= comment.updated_at  %></td> 
    <td><%= button_to "X", movie_remove_path(@movie, comment), :method => :delete, :class=>" btn btn-danger btn-large" %></td>
  </h4>

  </tr>

  <% end %>
</tbody>
</table>
</center>
</div>

<h2>New Comment</h2>
<%= form_for :comment, url: movie_comments_path(@movie)  do |comm| %>
      
    <%= comm.text_area :content, :rows => 5, :cols => 30%>
    <br>
    <%= submit_tag "Add comment", :class=>" botmar btn btn-success btn-large" %>
  
<% end %>


<!--  FOR COMMENTS -->

<!-- add_movie_comment_path(@movie) -->

</center>
</div>










